.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2vw 4vw;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.nav-container.hidden {
  transform: translateY(-100%);
}

.links {
  display: flex;
  gap: 4vw;
  list-style: none;
  border-radius: 1vw;
  min-height: 7vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Hover Zone */
.hover-zone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 999;
}

li {
  border: 2px solid black;
  padding: 0.5vw 1vw;
  background-color: white;
  position: relative;
  bottom: 0.7vw;
  transition: transform 0.3s ease;
  font-size: 1.1rem;
  border-radius: 8px;
}
li:hover {
  transform: translateY(0.5vw);
  cursor: pointer;
}
.menu-toggle {
  display: none;
  font-size: 2.5vw;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    margin-left: 3vw;
    margin-top: 3vw;
    font-size: 6vw;
  }
  .nav-container {
    position: fixed;
    top: -8vw;
    left: -100%;
    width: 70vw;
    height: 60vh;
    background: white;
    transition: all 0.4s ease;
    padding: 2vw 2vw;
  }
  .nav-container.active {
    left: 0px;
  }
  .nav-container ul {
    flex-direction: column;
    position: relative;
    top: 5vw;
    left: 0;
    display: block;
    width: 100%;
    gap: 2vw;
  }
  .nav-container ul li {
    margin-left: -3px;
    display: block;
    justify-content: space-between;
    font-size: 1.1rem;
    width: 100%;
  }

}

@media (max-width: 560px) {
  .nav-container {
    width: 95vw;
    left: -100%;
    padding: 2vw 2vw;
  }
  .nav-container.active {
    left: 0;
  }
  .links {
    gap: 2vw;
    width: 100%;
    left: 0;
    height: auto;
    flex-direction: column;
    padding: 0;
  }
  li {
    font-size: 1rem;
    padding: 2vw 2vw;
    margin: 1vw 0;
  }
  .menu-toggle {
    font-size: 8vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }
}
